.home-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    margin: 4%;
}

.intro {
    color: var(--fourth-color);
    padding-left: 6%;
    padding-top: 2rem;
}

h3 {
    font-size: 35px;
}

h1 {
    color: var(--third-color);
    font-size: 50px;
}

h4 {
    font-size: 25px;
}

.learn-more-link {
    color: var(--third-color);
}

.learn-more-link:hover {
    text-decoration: underline;
}

.home-image {
    align-self: center;
}